*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(248, 247, 245);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
header{
    display: grid;
    grid-template-rows: auto auto;
    .linea-negra{
        background-color:rgb(21, 19, 21);
        height: 40px;
        font-size: medium;
        font-weight: bold;
        margin: 0;
        .linea-top{
            width: auto;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            img{
                width: 34px;
                padding: 0;
                margin: 5px;
            }
            p{
                color: white;
            }
        }
    }
    /*nav*/
    .contenedor1{
        background-color: rgba(34, 34, 149, 0.865);
        background-size: cover;
        margin: 0;
        display: flex;
        flex-direction: row;
        .logo-gonzalbus{
            margin-left: 20px;
            margin-right: 300px;
        }
        ul{
            padding: 10px;
            font-family: 'Roboto', sans-serif;
            font-size: x-large;
            font-weight: bold;  
            li a{
                color: aliceblue;  
            }
            li a:hover{
                background-color:rgba(204, 5, 248, 0.354);
                border-radius: 10px;
                text-decoration-line: none;
                font-weight: bold;
            }
        }
    }
}
.tituloMain{
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    background-color:rgb(223, 15, 234);
    color: white;
    text-align: center;
}
/*index e inicio*/
.p-inicio{ 
    margin-left: 20px;
    color:  purple;
    text-align: left;
    font-size: 700;
}
.bodyinicio{
    display: grid;
    height: 80vh;
    grid-template-columns: 500px 500px 500px;
    padding: 50px;
    list-style-type: none;
    .imageninicio{
        width: 400px;
        border-radius: 40px;
        opacity: .8;
    }
    .imageninicio:hover{
        width: 450px;
        opacity: 1;
        filter: contrast(120%);
    }
}
/*footer*/
footer{
    height: 150px;
    background-color: rgb(21, 3, 86);
    text-align: center;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    position: fixed;
    bottom: 0;
    .hijofooter1{
        width: auto;
        text-align: left;
        list-style-type: none;
        li{
            text-decoration-line:none;
        }
        p{
            color: white;
            font-size: larger;
        }

    }
    .hijofooter2{
        width: auto;
        text-align: right;
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: center;
           
        img{
            width: 34px;
            padding: 0;
            margin: 5px;
        }
        li{
            list-style-type: none;
            text-decoration-line:none;
        }

    }
    
}
/*pagina contacto*/
.form-contacto{
    width: 80%;
    margin: auto;
}
/*pagina Nosotros*/
.padre{
    width: 90% ;
    align-items: center;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction:row;
    .hijo{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        width: 90%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: rgb(47, 42, 42);
    }
    h2,h3{
        font-size: x-large;
        color:  rgb(66, 15, 234);
        font-weight: bold;
    }
    p{
        font-size: 1.5rem;
        margin-right: 20px;
    }

}
/*pagina alquiler*/
.padre-alquiler{
    width: 90%;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    .formu{
        background-color: rgba(215, 211, 211, 0.55);
        width: 700px;
        border-radius: 10px;
        display: grid;
        margin: auto;
        gap: 10px 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .7fr .7fr .7fr .7fr .7fr;
        grid-template-areas:
        "Z1 Z2"
        "Z3 Z4"
        "Z5 Z6"
        "Z7 Z8"
        "AB AB";
        .b1{
            margin: 5px;
        }
        .ab{
            grid-area: AB;
        }
        .z1{
            grid-area: Z1;
        }
        .z2{
            grid-area: Z2;
        }
        .z3{
            grid-area: Z3;
        }
        .z4{
            grid-area: Z4;
        }
        .z5{
            grid-area: Z5;
        }
        .z6{
            grid-area: Z6;
        }
        .z7{
            grid-area: Z7;
        }
        .z8{
            grid-area: Z8;
        }
        .b1{
            text-align: center;
            margin: 5pxs;
        }
    }
    .txtformu{
        margin: auto;
        padding: auto;
        text-align: center;
        width: 90%;
        font-weight: 900;
        display: grid;
        grid-area:
        "h2 h2"
        "textoalquiler minibus"
        "textoalquiler bigbus";
        grid-template-rows: auto auto auto;
        grid-template-columns: 50% 50%;
        }
        h2{
            font-size: 500;
            margin: auto;
            font-weight: bold;
            grid-area:"h2";
        }
        .textoalquiler{
            margin: auto;
            grid-area: "textoalquiler";
        }
        .minibus{
            margin: auto;
            grid-area: "minibus";
            img{
                border-radius: 20px;
            }
        }
        .bigbus{
            margin: auto;
            grid-area: "bigbus";
            img{
                border-radius: 20px;
            }
        }
        h3{
            margin: 10px;
            font-weight: bold;
            text-align: left;
            color: blue;
        }
        p{
            margin: 10px;
            font-weight: bold;
            text-align: left;
        }
}
/* pagina destinos*/
.promos{
    width: 90%;
    margin:20px auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    .promo{
        width: 400px;
        margin: 20px;
        border-radius: 20px;
        opacity: .9;
    }
    .promo:hover{
        opacity: 1;
        filter: contrast(120%);
        cursor: pointer;
    }
}
/*media queries*/
@media (max-width: 800px){
    .bodyinicio{
        display: grid;
        width: auto;
        height: auto;
        text-align: center;
        grid-template-columns: 350px 350px ;
        grid-template-rows: 350px;
        padding: auto;
        list-style-type: none;
        .imageninicio{
            width: 310px;
            padding:auto;
            border-radius: 40px;
            opacity: .8;
        }
        .imageninicio:hover{
            width: 350px;
            opacity: 1;
            filter: contrast(120%);
        }    
    }

    /* pagina destino*/
    .promos{
        display: grid;
        width: auto;
        height: auto;
        text-align: center;
        grid-template-columns: 350px 350px;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        .promo{
            width: 310px;
            padding:auto;
            border-radius: 40px;
            opacity: .8;
        .promo:hover{
            opacity: 1;
            filter: contrast(120%);
            }
        }
    }
    /*pagina nosotros*/
    .padre{
        width: 90% ;
        align-items: center;
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction:column;
        border-radius: 10px;
        .img-nos{
            width: 600px;
            height: auto;
        }
    }
    /*pagina alquiler*/
    .padre-alquiler{
        .formu{
            background-color: rgba(128, 128, 128, 0.744);
            width: 500px;
            border-radius: 10px;
            display: grid;
            margin: auto;
            gap: 10px 10px;
            grid-template-columns: 5fr 5fr;
            grid-template-rows: .7fr .7fr .7fr .7fr .7fr;
            grid-template-areas:
            "Z1 Z2"
            "Z3 Z4"
            "Z5 Z6"
            "Z7 Z8"
            "AB AB";
        }
        .txtformu{
        margin: auto;
        padding: auto;
        width: 90%;
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: auto auto auto auto auto;
        }
    }
/*footer*/
    footer{
        height: auto;
        background-color: rgb(21, 3, 86);
        text-align: center;
        color: white;
        grid-template-columns: auto;
            .hijofooter2{
            width: auto;
            text-align: right;
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
                img{
                    width: 34px;
                    padding: 5px;
                    padding: 0;
                    margin: 5px;
                }
                li{
                    list-style-type: none;
                    text-decoration-line:none;
                }
            }
                .hijofooter1{
                    width: auto;
                    text-align: left;
                    list-style-type: none;
                        li{
                            list-style-type: none;
                            text-decoration-line:none;
                        }
                            p{
                                 color: white;
                                font-size: larger;
                            }
                }
    }

}
@media (max-width: 600px){
    .bodyinicio{
        display: grid;
        height: auto;
        grid-template-columns: 500px;
        grid-template-rows: 500px 500px 500px;
        gap: 10px;
        padding: auto;
        list-style-type: none;
        .imageninicio{
            width: 500px;
            padding:auto;
            border-radius: 40px;
            opacity: .8;
        }
        .imageninicio:hover{
            width: 500px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
 /*pagina destino*/
    .promos{
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        .promo{
            width: 500px;
            height: auto;
        .promo:hover{
                width: 500px;
                opacity: 1;
                cursor: pointer;
            }
        }
    }
 /*pagina nosotros*/
    .padre{
        width: 90% ;
        align-items: center;
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction:column;
        border-radius: 10px;
        .hijo{
            font-weight: 900;
            width: 90%;
            height: 120vh;
            display: flex;
            flex-direction: column;
        }
        h2,h3{
            height: 30px;
            font-size: x-large;
        }
        p{
            font-size: 1.5rem;
            height: auto;
            margin-right: 20px;
        }
        .img-nos{
            width: 500px;
            height: auto;
        }
    }
/*pagina alquiler*/
    .padre-alquiler{
        .formu{
            background-color: rgba(128, 128, 128, 0.744);
            width: 500px;
            border-radius: 10px;
            display: grid;
            margin: auto;
            gap: 10px 10px;
            grid-template-columns: 5fr 5fr;
            grid-template-rows: .7fr .7fr .7fr .7fr .7fr;
            grid-template-areas:
            "Z1 Z2"
            "Z3 Z4"
            "Z5 Z6"
            "Z7 Z8"
            "AB AB";
    }
        .txtformu{
        margin: auto;
        padding: auto;
        width: 90%;
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 500px;
        }
    }
}