*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
header{
    display: grid;
    grid-template-rows: auto auto;
    .linea-negra{
        background-color:rgb(21, 19, 21);
        font-size: medium;
        font-weight: bold;
        margin: 0;
        padding: 0;
        height: 3rem;
        .linea-top{
            margin-right: 1rem;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 1rem 0rem;
            justify-content: flex-end;
            img{
                width: 30px;
            }
            p{
                color: white;
            }
        }
    }
    /*nav*/
    .contenedorp{
        --bs-navbar-padding-y:0
    }
    .contenedor1{
        background-color: rgba(34, 34, 149, 0.865);
        margin: 0;
        display: flex;
        margin-bottom: 5px;
        justify-content: center;
        img{
            width: 340px;
        }
        ul{
            padding: 10px;
            font-family: 'Roboto', sans-serif;
            font-size: x-large;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0;
            text-align: end;
            li a{
                color: aliceblue;  
            }
            li a:hover{
                color:rgb(223, 15, 234); ;
                text-decoration-line: none;
                font-weight: bold;
            }
        }
    }
}
main{
    max-width: 1400px;
    margin: 0 auto;
}
.tituloMain{
    margin: 0 auto; 
    text-align: center;
    font-weight: 900;
    background-color:rgb(223, 15, 234);
    color: white;
    text-align: center;
}
/*index e inicio*/
.p-inicio{ 
    margin-top: 1rem;
    padding: 0 auto;
    color:  purple;
    text-align: left;
    font-size: 700;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    div img{
        margin: auto;
        width: auto;
        border-radius: 40px;
    }
}
.bodyinicio ul{
    display: grid;
    grid-template-columns:  auto auto auto;
    gap: 2rem;
    padding: 0 auto;
    margin: 0 auto;
    list-style-type: none;
    .imageninicio{
        width: 100%;
        border-radius: 40px;
        opacity: .9;
        transition: 0.2;
    }
    .imageninicio:hover{
        transform: scale(1.05);
        opacity: 1;
        filter: contrast(120%);
    }
}
/*footer*/
footer{
    margin-top: 2rem;
    width: 100%;
    background-color: rgb(21, 3, 86);
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    gap: 4rem;
    .hijofooter1{
        width: auto;
        text-align: left;
        list-style-type: none;
        li{
            text-decoration-line:none;
            display: flex;
            flex-direction: row;
        }
        p{
            color: white;
            font-size: larger;
        }
    }
    .hijofooter2{
        width: auto;
        justify-content: center;
        img{
            width: 34px;
            padding: 0;
            margin: 5px;}
        li{
            list-style-type: none;
            text-decoration-line:none;
        }
    }
    .hijofooter3{
        img{
            width: 34px;
            padding: 0;
            margin: 5px;
        }
        li{
            list-style-type: none;
            text-decoration-line:none;
        }
    }
}
/*pagina contacto*/
.h2contacto{
    text-align: center;
}
.barra-iconos{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
    .cont-caja{
        display: flex;
        flex-direction:column;
        width: auto;
        text-align: center;
    }
    img{
        margin: 0 auto;
        width: 50px;
    }
}
.mapacontacto{
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    iframe{
        width: 100%;
    }
}
.form-contacto{
    width: 60%;
    margin: 1rem auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*pagina Nosotros*/
.padre{
    width: auto;
    padding: 1rem  auto;
    margin: 1rem  auto;
    margin-left: 1rem;
    display: flex;
    flex-direction:row;
    .hijo{
        font-family: 'Roboto', sans-serif;
        margin: 1rem;
        width: auto;
        display: flex;
        flex-direction: column;
        color: rgb(47, 42, 42);
    }
    h2,h3{
        font-size: x-large;
        color:  rgb(66, 15, 234);
        font-weight: bold;
    }
    p{
        font-size: 1.5rem;
    }
    div img{
        max-width: 500px;
        margin: 0 auto;
        margin-top: 1rem;
        width: auto;
        display: flex;
    }
}
/*pagina alquiler*/
.padre-alquiler{
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    .formu{
        background-color: white;
        width: 700px;
        border-radius: 10px;
        display: grid;
        margin: auto;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .7fr .7fr .7fr .7fr .7fr;
        grid-template-areas:
        "Z1 Z2"
        "Z3 Z4"
        "Z5 Z6"
        "Z7 Z8"
        "AB AB";
        .b1{
            margin: 5px;
        }
        .ab{
            grid-area: AB;
        }
        .z1{
            grid-area: Z1;
        }
        .z2{
            grid-area: Z2;
        }
        .z3{
            grid-area: Z3;
        }
        .z4{
            grid-area: Z4;
        }
        .z5{
            grid-area: Z5;
        }
        .z6{
            grid-area: Z6;
        }
        .z7{
            grid-area: Z7;
        }
        .z8{
            grid-area: Z8;
        }
        .b1{
            text-align: center;
            margin: 5pxs;
        }
    }
    .txtformu{
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
        width: auto;
        font-weight: 900;
        display: grid;
        grid-area:
        "h2 h2"
        "textoalquiler minibus"
        "textoalquiler bigbus";
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
        h2{
            font-size: 500;
            margin: auto;
            font-weight: bold;
            grid-area:"h2";
        }
        .textoalquiler{
            margin: auto;
            grid-area: "textoalquiler";
        }
        .minibus{
            margin: auto;
            grid-area: "minibus";
            img{
                border-radius: 20px;
            }
        }
        .bigbus{
            margin: auto;
            grid-area: "bigbus";
            img{
                border-radius: 20px;
            }
        }
        h3{
            margin: 0 auto;
            font-weight: bold;
            text-align: left;
            color: blue;
        }
        p{
            margin: 10px;
            font-weight: bold;
            text-align: left;
        }
}
/* pagina destinos*/
.promos{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1rem;
    max-width: 1600;
    .promo{
        width: 100%;
        margin: 0 auto;
        border-radius: 20px;
        opacity: .9;
    }
    .promo:hover{
        opacity: 1;
        filter: contrast(120%);
    }
}
/*media queries*/
@media (max-width: 900px){
    /*pagina inicio e index*/
    .p-inicio{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 800px){
    /*pagina inicio e index*/
    .p-inicio{ 
        div img{
            display: none;
        }
    }
    .bodyinicio ul{
        display: grid;
        grid-template-columns:  auto auto ;
        grid-template-rows: auto auto;
        gap: 2rem;
    }
    /* pagina destino*/
    .promos{
        display: grid;
        text-align: center;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        .promo{
            margin: 0 auto;
            border-radius: 40px;
            opacity: .9;
        .promo:hover{
            opacity: 1;
            filter: contrast(120%);
            }
        }
    }
    /*pagina nosotros*/
    .padre{
        padding: 0  auto;
        margin: 0  auto;
        display: flex;
        flex-direction:column;
        div img{
           max-width: 600px;
        }
    }
    /*pagina alquiler*/
    .padre-alquiler{
        .formu{
            background-color:  white;
            width: 500px;
            border-radius: 10px;
            display: grid;
            margin: auto;
            gap: 10px 10px;
            grid-template-columns: 5fr 5fr;
            grid-template-rows: .7fr .7fr .7fr .7fr .7fr;
            grid-template-areas:
            "Z1 Z2"
            "Z3 Z4"
            "Z5 Z6"
            "Z7 Z8"
            "AB AB";
        }
        .txtformu{
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        }
    }
}
@media (max-width: 600px){
    .linea-negra{
        display: none;
    }
    .bodyinicio ul{
        display: grid;
        grid-template-columns:  auto ;
        grid-template-rows: auto auto auto;
        gap: 2rem;
    }
    /*footer*/
    footer{
        margin: 0 auto;
        margin-top: 2rem;
        width: 100%;
        background-color: rgb(21, 3, 86);
        color: white;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        place-content: center;
        gap: 1rem;
        .hijofooter3{
            display: flex;
        }
    }
    /*pagina contacto*/
    .barra-iconos{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
 /*pagina destino*/
    .promos{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        .promo{
            margin: 0 auto;
            margin-top: 1rem;

            opacity: .9;
        .promo:hover{
                opacity: 1;
            }
        }
    }
 /*pagina nosotros*/
    .padre{
        padding: 0  auto;
        margin: 0  auto;
        display: flex;
        flex-direction:column;
        div img{
            display: none;
        }
    }
/*pagina alquiler*/
    .padre-alquiler{
        .formu{
            background-color:  white;
            width: auto;
            display: grid;
            margin: auto;
            gap: 10px 10px;
            grid-template-columns: 5fr 5fr;
            grid-template-rows: .7fr .7fr .7fr .7fr .7fr .7fr .7fr ;
            grid-template-areas:
            "Z1 Z2"
            "Z3 Z4"
            "Z5 Z6"
            "Z7 Z8"
            "AB AB";
        }
        .txtformu{
            margin: 0 auto;
            width: 90%;
            display: grid;
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: auto;
        }
    }
}
@media (max-width: 450px){
    .imageninicio:hover{
        opacity: 1;
    }
    .padre-alquiler{
        .formu{
            background-color:  white;
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: auto;   
        }
        img{
            margin: 0 auto;
            max-width: 90%;
        }
    }
    header .contenedor1 img{
        width: 100%;
    }
}